/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.08.2016, 11:45:11
    Author     : jens
*/
.adress { 
    font-size: 20px;
    font-weight: bold;
}

.headline {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.highlighted {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #dd6d8c;
}
.paragraph {
    hyphens: auto;
    font-weight: normal;
    text-align: justify;
    margin-bottom: 20px;
}

.copyright {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #dd6d8c;
    hyphens: auto;
    font-weight: normal;
    text-align: center;
}
